<launch>
 
    <include file="$(find vrx_gazebo)/launch/vrx.launch" />  

    <include file="$(find ar_tag_toolbox)/launch/ar_track_usb_cam_simulation.launch" />
    
    <node name="movimiento" pkg= "rotacion" type= "rotacion.py" output="screen" />

    <include file="$(find pid)/launch/velocity.launch" />
     
</launch>

